{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended","plugin:react/recommended"],
  "globals":{
    "React":true,
    "ReactDOM":true,
    "ReactCSSTransitionGroup":true
    ,"classNames":true
  },
  "env":{
    "browser":true,
    "node":false,
    "es6": true
  },
  "plugins": [
    "react"
  ]
}