html,
body,
#root-view
  height:   100%
  overflow: hidden

.page-layout
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: white

// begin page transition
$timeout: 0.5s

// define go page transition
.animation-page-enter
  transform:  translate3d(100%,0,0)
  z-index: 999
.animation-page-enter.animation-page-enter-active
  transform:  translate3d(0,0,0)
  transition: transform $timeout

.animation-page-leave
  //transform:  translate3d(0,0,0)
.animation-page-leave.animation-page-leave-active
  //transform:  translate3d(-100%,0,0)
  //transition: transform $timeout


// define back page transition
.animation-page-back-enter
  //transform:  translate3d(-100%,0,0)
.animation-page-back-enter.animation-page-back-enter-active
  //transform:  translate3d(0,0,0)
  //transition: transform $timeout

.animation-page-back-leave
  transform:  translate3d(0,0,0)
  z-index: 999
.animation-page-back-leave.animation-page-back-leave-active
  transform:  translate3d(100%,0,0)
  transition: transform $timeout

// end page transition

// begin slide page layout
.swipe-page-layout,
.swipe-page-layout-horizontal
  height: 100%
  margin: 0
  padding: 0
  transition: all 0.5s
  >li
    height: 100%
    margin: 0
    padding: 0
.swipe-page-layout-horizontal
  >li
    display: inline-block
.swipe-arrow
  //height: 16px
  position: fixed
  bottom: 0
  z-index: 1
  width: 100%
  text-align: center
.swipe-arrow-enter
  opacity: 0.01
.swipe-arrow-enter,.swipe-arrow-enter-active
  transition: opacity 0.5s
  opacity: 1
.swipe-arrow-leave
  opacity: 1
.swipe-arrow-leave,.swipe-arrow-leave-active
  transition: opacity 0.5s
  opacity: 0.01

// end slide page layout